// Btn
// ==================
.btn {
    border: 0;
    border-radius: 3px;
    padding: 1rem 2rem;
    font-weight: 700;
    cursor: pointer;

    // &:hover {
    //   box-shadow: var(--box-shadow);
    //   transition: box-shadow 0.2s;
    // }

    &-block {
      width: 100%;
      text-align: center;
    }

    &-radius {
      border-radius: size(15)+rem;
    }

    &-primary {
      background: var(--secondary);
      box-shadow: 0 8px 18px rgba(32, 201, 151, .65);
      color: white;
    }

    &-secondary {
      border: 1px solid var(--primary);
      background: white;
      color: var(--primary);
    }

}