// Pages d'accueil
// ==================
.baseline {
    margin-top: size(60)+rem;

    h3 {
        margin-bottom: size(15)+rem;
        font-weight: 700;
        font-size: size(20)+rem;
        opacity: .5;
    }
}

.analyse-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;

    .box {
        background-color: var(--white);
        display: flex;
        flex-direction: column;
        width: size(350)+rem;
        border-radius: size(20)+rem;
        padding: size(15)+rem;
        margin-right: size(30)+rem;


        &-icon {
            display: flex;
            align-items: center;
            justify-content: center;
            width: size(50)+rem;
            height: size(50)+rem;
            background-color: #11CDEF;
            color: var(--white);
            font-size: size(25)+rem;
            border-radius: size(10)+rem;
            margin-bottom: size(15)+rem;
        }

        strong {
            margin-top: size(15)+rem;
            font-weight: 900;
            font-size: size(40)+rem;
            color: #11CDEF;
        }
    }
}

.main-info {
    background-color: var(--white);
    padding: size(30)+rem;
    border-radius: size(20)+rem;
    margin-top: size(20)+rem;
    margin-bottom: size(50)+rem;

    .info-title {
        font-weight: 700;
        font-size: size(25)+rem;
    }
}